/*========================
          bootstrap扩展
==========================*/
.panel-weijinsuo {
    border-radius: 0;
    border: none;
    box-shadow: 1px 2px 3px #ccc;
    text-align: center;
}

.panel-weijinsuo.red {
    background-color: #e92322;
    color: #ffffff;
}

.panel-weijinsuo.red::before {
    content: '\e915';
    font-family: weijnsuo;
    font-size: 50px;
    position: absolute;
    top: -10px;
    left: 16px;
}

.panel-weijinsuo.grey {
    background-color: #e0e0e0;
}

.panel-weijinsuo > .panel-heading {
    float: right;
    width: 100px;
    height: 150px;
    border-left: 1px dashed #c0c0c0;
    position: relative;
    text-align: center;
    padding: 45px 0;
}

.panel-weijinsuo > .panel-heading >p {
    margin-bottom: 0;
}
.panel-weijinsuo > .panel-heading > p>strong {
    font-size: 30px;
}
.panel-weijinsuo > .panel-heading::before, .panel-weijinsuo > .panel-heading::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;
}

.panel-weijinsuo > .panel-heading::before {
    top: -8px;
    left: -8px;
}

.panel-weijinsuo > .panel-heading::after {
    bottom: -8px;
    left: -8px;
    box-shadow: 0 2px 2px -1px inset;
}

.panel-weijinsuo > .panel-body {
    margin-right: 120px;
    height: 150px;
    padding: 15px;
    text-align: center;
}

.panel-weijinsuo > .panel-body h4 {
    font-size: 18px;
}

.panel-weijinsuo > .panel-body > .row {
    margin-right: -15px;
    margin-left: -15px;
}

.panel-weijinsuo > .panel-body > .row > div sub {
    font-size: 12px;
    vertical-align: 3px;
}

.panel-weijinsuo > .panel-body > .row > div > p {
    margin: 0;
}

.panel-weijinsuo > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}

.panel-weijinsuo > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}

.panel-weijinsuo > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

.btn-weijinsuo {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-weijinsuo:hover,
.btn-weijinsuo:focus,
.btn-weijinsuo:active,
.btn-weijinsuo.active,
.open .dropdown-toggle.btn-weijinsuo {
    color: #ffffff;
    background-color: #db3b43;
    border-color: #DB3B43;
}

.btn-weijinsuo:active,
.btn-weijinsuo.active,
.open .dropdown-toggle.btn-weijinsuo {
    background-image: none;
}

.btn-weijinsuo.disabled,
.btn-weijinsuo[disabled],
fieldset[disabled] .btn-weijinsuo,
.btn-weijinsuo.disabled:hover,
.btn-weijinsuo[disabled]:hover,
fieldset[disabled] .btn-weijinsuo:hover,
.btn-weijinsuo.disabled:focus,
.btn-weijinsuo[disabled]:focus,
fieldset[disabled] .btn-weijinsuo:focus,
.btn-weijinsuo.disabled:active,
.btn-weijinsuo[disabled]:active,
fieldset[disabled] .btn-weijinsuo:active,
.btn-weijinsuo.disabled.active,
.btn-weijinsuo[disabled].active,
fieldset[disabled] .btn-weijinsuo.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-weijinsuo .badge {
    color: #E92322;
    background-color: #ffffff;
}

.navbar-weijinsuo {
    background-color: #fff;
    border-color: #f0f0f0;
    margin-bottom: 0;
}

.navbar-weijinsuo .navbar-brand {
    color: #777;
    height: 80px;
}

.navbar-weijinsuo .navbar-brand:hover,
.navbar-weijinsuo .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-weijinsuo .navbar-text {
    color: #777;
}

.navbar-weijinsuo .navbar-nav > li > a {
    line-height: 48px;
    font-size: 14px;
    color: #777;
}

.navbar-weijinsuo .navbar-nav > li > a:hover,
.navbar-weijinsuo .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}

.navbar-weijinsuo .navbar-nav > .active > a,
.navbar-weijinsuo .navbar-nav > .active > a:hover,
.navbar-weijinsuo .navbar-nav > .active > a:focus {
    color: #555;
    border-bottom: 2px solid #e92322;
    background-color: #fff;
}

.navbar-weijinsuo .navbar-nav > .disabled > a,
.navbar-weijinsuo .navbar-nav > .disabled > a:hover,
.navbar-weijinsuo .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-weijinsuo .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-weijinsuo .navbar-toggle:hover,
.navbar-weijinsuo .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-weijinsuo .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-weijinsuo .navbar-collapse,
.navbar-weijinsuo .navbar-form {
    border-color: #e7e7e7;
}

.navbar-weijinsuo .navbar-nav > .open > a,
.navbar-weijinsuo .navbar-nav > .open > a:hover,
.navbar-weijinsuo .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-weijinsuo .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-weijinsuo .navbar-link {
    color: #777;
}

.navbar-weijinsuo .navbar-link:hover {
    color: #333;
}

.navbar-weijinsuo .btn-link {
    color: #777;
}

.navbar-weijinsuo .btn-link:hover,
.navbar-weijinsuo .btn-link:focus {
    color: #333;
}

.navbar-weijinsuo .btn-link[disabled]:hover,
fieldset[disabled] .navbar-weijinsuo .btn-link:hover,
.navbar-weijinsuo .btn-link[disabled]:focus,
fieldset[disabled] .navbar-weijinsuo .btn-link:focus {
    color: #ccc;
}

/*========================
          公共样式
==========================*/
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

@font-face {
    font-family: 'weijnsuo';
    src: url('../font/MiFie-Web-Font.svg') format('svg'),
    url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.ttf') format('truetype'),
    url('../font/MiFie-Web-Font.woff') format('woff');
}

[class^="icon-"], [class*=" icon-"] {
    font-family: weijnsuo;
    font-style: normal;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

/*========================
          头部区域
==========================*/
#header {
}

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}

#header > .topbar > .container > .row > div {
    height: 40px;
    font-size: 12px;
    color: #888888;
}

#header > .topbar > .container div + div {
    border-left: 1px solid #c0c0c0;
}

#header .mobile-link {
    display: block;
    font-size: 12px;
    color: #888888;
}

#header .mobile-link > img {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 30px;
    z-index: 1;
}

#header .mobile-link:hover {
    color: #888888;
    text-decoration: none;
}

#header .mobile-link:hover > img {
    color: #888888;
    text-decoration: none;
    display: block;
}

#header .icon-icon {
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}

#header .icon-logo {
    font-size: 32px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}

/*========================
          通栏广告轮播
==========================*/
/*#ad {*/
/*}*/

#ad > .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

@media (min-width: 768px) {
    #ad > .carousel-inner > .item {
        height: 410px;
    }
}

/*========================
          特色区域
==========================*/
#feature {
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}

.icon-uniE907:before {
    content: '\e907';
}

#feature i {
    font-size: 34px;
}

#feature .container .row a {
    color: #555555;
}

#feature .container .row a:hover {
    text-decoration: none;
    color: #db3443;
}

#feature .container .row > div {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*========================
          立即预约
==========================*/
#appointment {
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 0;
}

#appointment > .container > p {
    font-size: 14px;
    margin-bottom: 0;
}

#appointment > .container > .pull-left > span,
#appointment > .container > .pull-left > a {
    color: #e92322;
}

#appointment > .container > .pull-left > a {
    border-bottom: 1px dashed #e92322;
}

#appointment > .container > .pull-left > a:hover {
    text-decoration: none;
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}

/*========================
          产品推荐
==========================*/

#products {
    background-color: #f0f0f0;
    padding: 40px 0;
}

#products .container .nav-tabs {
    padding-right: 20px;
}

#products .container .nav-tabs li {

}

#products .container .nav-tabs li a {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #333333;
}

#products .container .nav-tabs li a:hover {
    border-color: transparent;
    background-color: transparent;
    color: #000;
}

#products .container .nav-tabs li.active {

}

#products .container .nav-tabs li.active a {
    border-bottom: 4px solid #e92322;
}

#products .container .tab-content {
    padding: 20px 0;
}

/*========================
          脚注区域
==========================*/
